<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AmazonTestSuite">

    <!-- Test -->
    <test name="SignInTest">
        <classes>
            <!-- Fully qualified class name -->
            <class name="base.baseTest"/>
            <class name="page.SingIn"/>
        </classes>
    </test>

</suite>
